node_modules/
.server/.env
# Logs
client/*.log
client/logs
.client/npm-debug.log*
.client/yarn-debug.log*
.client/yarn-error.log*
.client/pnpm-debug.log*
.client/lerna-debug.log*

# Editor directories and files
.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# Server Folder

server/notes.txt
server/config